.header{
    margin:5px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
    background-color: beige;
}
.logo{
    margin: 5px;
    padding: 5px;
}
.image{
    width: 100px;
}
.nav-list{
    font-size: 20px;

}
.nav-list ul{
    display: flex;
    list-style: none;
}

.nav-list > ul > li{
    padding: 5px;
    margin: 5px;
}

.res-card{
    padding: 2px;
    margin: 2px;
    width: 240px;
    background-color: beige;
    text-align: center;
    font-size: 15px;
    text-wrap:wrap ;
}

.res-card.h4{
    font: 10px;
}
.search{
    padding: 10px;
}
.res-card > img{
    margin: 5px;
    padding: 2px,5px;
    width: 95%;
    height: 250px;
}

.res-card:hover{
    border: 1px solid black;
    cursor: pointer;
    
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.filter-btn{
    padding: 5px;
    margin: 5px;
    margin-bottom: 8px;
    cursor: pointer;
}

.shimmer-container{
    display: flex;
    flex-wrap: wrap;
}

.shimmer-cards{
    margin: 10px;
    width:200px;
    height: 400px;
    background-color: #f0f0f0;
}
.login{
    margin: 10px;
    width: 50px;
    height: 30px;
    cursor: pointer;
}

.filter{
    display: flex;
}

.search-box{
    margin: 5px,10px;
    padding-left: 5px;
}

.search-btn{
    margin: 5px,10px;
    padding-left: 5px;
    cursor: pointer;
}